:root {
    --text-light-blue: #006ADB;
    --background-grey: #707070;
    --background-dark-grey: #f5f5f54b;
    --border-light-grey: #d0d5de;
}
::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: white;
}

::-webkit-scrollbar-thumb {
    background: var(--background-grey);
}

.scan-search-outer .heading {
    padding: 20px 0px;
}

.scan-search-outer .heading h5 {
    margin-bottom: 0px;
    font-size: 18px;
    font-weight: 700;
}

.scan-search-outer .collapse-table-body {
    max-height: 500px;
    overflow-y: scroll !important;
    width: 100%;
    border: 2px solid var(--border-light-grey);
}

.scan-search-outer .collapse-table-body .coll-row:first-child .collapse-head {
    border-top: none !important;
}

.scan-search-outer .collapse-table-body .collapse-head {
    min-height: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--background-dark-grey);
    border-top: 1px solid var(--border-light-grey);
    border-bottom: 1px solid var(--border-light-grey);
    padding: 10px 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.scan-search-outer .collapse-table-body .collapse-head .left-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.scan-search-outer .collapse-table-body .collapse-head .left-content h6 {
    font-size: 16px;
    margin-bottom: 0px;
    margin-left: 30px;
}

.scan-search-outer .collapse-table-body .collapse-head .right-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.scan-search-outer .coll-table table th {
    border-top: none !important;
}

.scan-search-outer .coll-table table tbody tr:last-child,
.scan-search-outer .coll-table table tbody tr:last-child td {
    border-bottom: none !important;
}

.scan-search-outer .coll-table {
    padding: 0px 30px;
}

.scan-search-outer .coll-table .table {
    margin-bottom: 0rem !important;
}

.scan-search-outer .coll-table table th {
    font-weight: 600;
    font-size: 14px;
}

.scan-search-outer .coll-table table td {
    font-weight: 400;
    font-size: 14px;
}